/**
    选择器:

        .确定了这是一个类选择器,
        .后面跟的是选择器的名字
        {}和里面的内容叫声明
        color和font-size: 属性
        red和40px: 属性值

        #表示一个id选择器
 */

.show{
 color: red;
    font-size: 40px;
}

#m416{
    background-color: aqua;
    color: azure;
}